$greenButton:  darkgreen;
$redButton: darkred;
$yellowButton: goldenrod;
$blueButton: darkblue;

$greenPressed: lightGreen;
$redPressed: tomato;
$yellowPressed: yellow;
$bluePressed: lightskyblue;

$borderColor: lightskyblue;
$backgroundColor: #fff;

$repeatButton: darkgreen;
$closeButton: darkred;

$borderColor: #5C5C5C;